.container {
    margin-top: 50px;
    width: 400px;
    height: 520px;
    background: white;

    .nav {

        width: 400px;
        height: 50px;
        display: flex;
        background: rgb(34, 135, 244);

        &__list {
            display: flex;
            justify-content: space-between;
            width: 370px;
            margin: 15px auto;

            &-item {
                color: white;
                margin-left: 10px;

                &-link {
                    text-decoration: none;
                    color: white;
                }
            }
        }

    }

    .main {


        &__today {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 10px;

            &-before {
                display: block;
                width: 140px;
                height: 2px;
                background: grey;
            }

            &-data {
                color: grey;
            }

            &-after {
                display: block;
                width: 140px;
                height: 2px;
                background: grey;

            }
        }
        &__chat1{
            margin-top: 5px;
            &-text1{
                background: rgb(99, 210, 244);
                padding: 15px;
                width: 250px;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%, 4% 100%, 4% 18%);
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                margin-top: 10px;
}

            &-data1{
                color: grey;
                padding: 10px;
               
            }


        }
        &__chat2{
            margin-top: 5px;
            &-text2{
                background: rgb(246, 192, 234);
                padding: 15px;
                width: 250px;
                clip-path: polygon(56% 6%, 97% 6%, 94% 18%, 94% 65%, 94% 100%, 50% 100%, 0 100%, 0 68%, 0% 35%, 0 6%);
                margin-left: 155px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                margin-top: 10px;
}

            &-data2{
                margin-left: 340px;
                color: grey;
                padding: 10px;
               
            }


        }
        &__chat3{
            margin-top: 5px;
            margin-left: 5px;
            &-text3{
                background: rgb(99, 210, 244);
                padding: 15px;
                width: 110px;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%, 4% 100%, 4% 18%);
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                margin-top: 10px;
               
}

            &-data3{
                color: grey;
                padding: 10px;
               
            }


        }
        
        &__chat4{
            margin-top: 5px;
            &-text4{
                background: rgb(246, 192, 234);
                padding: 15px;
                width: 250px;
                clip-path: polygon(56% 6%, 97% 6%, 94% 18%, 94% 65%, 94% 100%, 50% 100%, 0 100%, 0 68%, 0% 35%, 0 6%);
                margin-left: 155px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                margin-top: 10px;
}

            &-data4{
                margin-left: 340px;
                color: grey;
                padding: 10px;
               
            }


        }
        &__chat5{
           

            &-hero{
                width: 370px;
                height: 2px;
                margin: 30px auto;
                background: grey;
            }
        }

        &__chat6{
             
           &-input{
            display: flex;
            justify-content: space-between;
            width: 370px;
            margin: auto;

            &-texts-1{
                border: none;
                margin-top: -15px;
                width: 60%;
                height: 40px;
                outline: none;

            }
            &-texts-2{
                margin-top: -15px;
                color: blue;
                font-weight: 900;
                border: none;
                cursor: pointer;
                width: 30%;
                height: 40px;
                background: white;
            }
           }
        }
    }
}

.main__chat6-input-texts-1:focus {
    outline: none;
    border:none;
}